/* =======================
   Categories
======================= */

.categories {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto;

  padding: 70px 80px;
  background: white;
}

.categories h2 {

  text-align: center;

  font-size: 35px;

  margin-bottom: 45px;

  color: #222;
}

.category-grid {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
}

.category-card {

  background: #f8f8f8;

  text-decoration: none;

  color: #333;

  border-radius: 12px;

  padding: 35px;

  text-align: center;

  transition: .3s;

  box-shadow: 0 3px 10px rgba(0, 0, 0, .08);
  width: 100%;
  box-sizing: border-box;
}

.category-card:hover {

  transform: translateY(-8px);

  background: #2874f0;

  color: white;
}

.category-icon {

  font-size: 50px;

  margin-bottom: 20px;
}

.category-card h3 {

  font-size: 20px;
}

@media (max-width: 768px) {

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .categories {
    padding: 50px 25px;
  }

}

@media (max-width: 480px) {

  .category-grid {
    grid-template-columns: 1fr;
  }

  .category-card {
    padding: 25px;
  }

  .categories h2 {
    font-size: 28px;
  }

}