.checkout-page{
    max-width:700px;
    margin:60px auto;
    padding:20px;
}

.checkout-page h1{
    text-align:center;
    margin-bottom:30px;
}

.checkout-form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.checkout-form input,
.checkout-form textarea{
    padding:14px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

.checkout-form button{
    background:#2874f0;
    color:white;
    border:none;
    padding:15px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.checkout-form button:hover{
    background:#165ac8;
}