.contact-page{
    width:90%;
    max-width:1200px;
    margin:50px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
}

.contact-info h1{
    margin-bottom:20px;
}

.contact-info p{
    color:#666;
    margin-bottom:30px;
}

.info-item{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
    font-size:18px;
}

.info-item svg{
    color:#2874f0;
    font-size:22px;
}

.contact-form{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.contact-form h2{
    margin-bottom:20px;
}

.contact-form form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.contact-form input,
.contact-form textarea{
    padding:14px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

.contact-form button{
    background:#2874f0;
    color:white;
    border:none;
    padding:14px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.contact-form button:hover{
    background:#165ac8;
}