.hero {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 60px 80px;

  background: #f8f8f8;
}

.hero-left {

  width: 50%;
}

.hero-left h1 {

  font-size: 55px;

  color: #222;
}

.hero-left h2 {

  color: #2874f0;

  margin: 20px 0;

  font-size: 42px;
}

.hero-left p {

  color: #666;

  line-height: 28px;

  margin-bottom: 35px;

  width: 90%;
}

.hero-left button {

  padding: 15px 35px;

  border: none;

  background: #2874f0;

  color: white;

  border-radius: 5px;

  cursor: pointer;

  font-size: 16px;

  transition: .3s;
}

.hero-left button:hover {

  background: #1559c4;
}

.hero-right {

  width: 45%;
}

.hero-right img {

  width: 100%;

  border-radius: 10px;
}

/* =========================
   TABLET
========================= */

@media (max-width: 992px) {

.hero{
    padding:60px 40px;
}

.hero-content{
    max-width:100%;
}

.hero h1{
    font-size:42px;
}

.hero p{
    font-size:18px;
}

}


@media (max-width:768px){

.hero{

    padding:50px 20px;
    text-align:center;

}

.hero-content{

    max-width:100%;

}

.hero h1{

    font-size:32px;
    line-height:1.3;

}

.hero p{

    font-size:16px;
    margin:20px 0;

}

.hero-buttons{

    display:flex;
    flex-direction:column;
    gap:15px;
    align-items:center;

}

.hero-buttons a,
.hero-buttons button{

    width:220px;

}

}