.product-details {

  display: flex;

  gap: 60px;

  padding: 70px 80px;

  background: white;
}

.product-image {

  width: 45%;
}

.product-image img {

  width: 100%;

  border-radius: 10px;

  box-shadow: 0 5px 12px rgba(0, 0, 0, .12);
}

.product-info {

  width: 55%;
}

.product-info h1 {

  font-size: 40px;

  margin-bottom: 20px;
}

.rating {

  color: orange;

  font-size: 22px;

  margin-bottom: 20px;
}

.product-price {

  color: #2874f0;

  font-size: 34px;

  margin-bottom: 25px;
}

.product-price span {

  color: gray;

  font-size: 22px;

  text-decoration: line-through;

  margin-left: 15px;
}

.description {

  line-height: 30px;

  color: #555;

  margin-bottom: 40px;

  font-size: 18px;
}

.btn-group {

  display: flex;

  gap: 20px;
}

.cart-btn,
.buy-btn {

  padding: 16px 28px;

  border: none;

  color: white;

  cursor: pointer;

  border-radius: 6px;

  font-size: 16px;

  display: flex;

  align-items: center;

  gap: 10px;
}

.cart-btn {

  background: #2874f0;
}

.buy-btn {

  background: #ff6b00;
}

.cart-btn:hover {

  background: #145dcf;
}

.buy-btn:hover {

  background: #e45c00;
}
.qty-selector{
    display:flex;
    align-items:center;
    gap:15px;
    margin:25px 0;
}

.qty-selector button{
    width:40px;
    height:40px;
    border:none;
    background:#2874f0;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-size:18px;
}

.qty-selector span{
    font-size:20px;
    font-weight:bold;
}

.cart-btn{
    width:250px;
    height:48px;
    border:none;
    background:#2874f0;
    color:white;
    border-radius:6px;
    cursor:pointer;
    margin-right:15px;
}

.wishlist-btn2{
    width:250px;
    height:48px;
    border:none;
    background:#ff4d4d;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

.actions{
    display:flex;
    gap:15px;
    margin-top:20px;
}